/.bundle/
/doc/
/log/*.log
/pkg/
/tmp/
.byebug_history

node_modules/
server.pid
examples.txt
.rubocop-https*

/.DS_Store
/coverage/
/vendor/
/spec/dummy/log/*.log
/spec/dummy/tmp/
/spec/dummy/vendor/
/spec/dummy/public/assets/
